{% extends 'base.html'%}
{% block content %}

    <style>
        .product {
            padding: 5px;
            border: 1px solid grey;
            border-radius: 9px;
            margin: 5px;
            width: 600px;
        }
    </style>

    <h1>Products Index</h1>

    {% for product in products %}

        <div class="product">
            <a href="{% url 'view_product' id=product.id %}">{{ product.name }}</a>
            <p>{{ product.price_in_dollars }}</p>
            <p> {{ product.description }}</p>
            <br>
        </div>

    {% endfor %}
{% endblock %}
